<!-- Book Table -->
<div class="container-fluid height">
    <h1 class="mt-4">Orders</h1>
    <!-- Heading -->
    <div>
        <nav aria-label=" breadcrumb bg-white" >
            <ol class="breadcrumb bg-white">
            <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Orders</li>
            </ol>
        </nav>
    </div>
    <!-- Table -->
    <div class="card shadow-lg p-3 mb-5 bg-light rounded">
        <div class="card-body">
            <div class="table-responsive">
                <app-table [HeadArray]="HeadArray" [BodyArray]="orderList" [dtTrigger]="dtTrigger" [tableHeight]="tableHeight"
                (onUpdate)="updateRequest($event)" [updateModal]="modalID.update" (gettAll)="getAllOrders()" ></app-table>
            </div>
        </div>
        <!-- Floating Button -->
        <button type="button" class="float btn btn-outline-dark btn-floating" data-toggle="modal" title="Add Modal"
         
          data-target="#addModal">
            <i class="fa-solid fa-plus"></i>
        </button>
    </div>
</div>

<div class="container-fluid">
    <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-dark text-white">
                  <h5 class="modal-title" id="exampleModalLabel">Add Order</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="card">
                    <div class="card-body">
                      <div class="container">
                        <form [formGroup]="orderForm">
                          <!-- Quantity Field -->
                          <div class="form-group form-outline mb-4">
                            <label class="form-label" for="quantity">Quantity:</label>
                            <input type="number" id="quantity" class="form-control" formControlName="quantity" placeholder="Enter Quantity" />
                          </div>
                          <!-- Submit button -->
                          <button type="submit"  class="btn bg-dark text-white btn-block mb-4 border border-dark"
                                  (click)="onSubmit(orderForm.value)">Submit</button>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Update Client Modal -->
<div class="container-fluid">
    <div class="modal fade" [id]="modalID.update" tabindex="-1" role="dialog" aria-labelledby="orderUpdateModal" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header bg-dark text-white">
            <h5 class="modal-title" id="orderUpdateModal">Update Order</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="card">
              <div class="card-body">
                <div class="container">
                  <form [formGroup]="orderForm">
                    <!-- Order ID -->
                    <div class="form-group col" align="left">
                      <!-- <label>Id: {{orderModel.id}}</label> -->
                      <label class="form-label" for="id">Id: {{orderModel.id}}</label>
                      <input type="text"  hidden class="form-control" formControlName="id" value={{orderModel.id}}/>
                  </div>
  
                    <!-- Status -->
                    <div class="form-group form-outline mb-4">
                      <label class="form-label" for="status">Status:</label>
                      <select id="status" class="form-control" formControlName="status" value={{orderModel.status}}>
                        <option value="PENDING">PENDING</option>
                        <option value="IN_PROGRESS">IN_PROGRESS</option>
                        <option value="DONE">DONE</option>
                      </select>
                    </div>
  
                    <!-- Finished Weight -->
                    <div class="form-group form-outline mb-4">
                      <label class="form-label" for="finishedWeight">Finished Weight:</label>
                      <input type="number" id="finishedWeight" class="form-control" formControlName="finishedWeight" placeholder="Enter Finished Weight" />
                    </div>
  
                    <!-- Submit Button -->
                    <button type="button" (click)="updateOrder(orderForm.value)" class="btn bg-dark text-white btn-block mb-4">
                      Submit
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>