<ul class="navbar-nav bg-gradient-dark sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon rotate-n-15">
            <!-- <i class="fas fa-laugh-wink"></i> -->
            <!-- <img src="../../../assets/images/Ovaku-05.ico"> -->
        </div>
        <!-- <div class="sidebar-brand-text mx-3">POC</div> -->
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" routerLink="/dashboard">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- <div class="sidebar-heading">
        Business
    </div> -->

    <!-- Nav Item - Authors -->
    <li class="nav-item">
        <a class="nav-link" routerLink="/authors">
            <i class="fas fa-fw fa-table"></i>
            <span>Authors</span></a>
    </li>

    <!-- Nav Item - Books-->
    <li class="nav-item">
        <a class="nav-link" routerLink="/books">
            <i class="fas fa-fw fa-table"></i>
            <span>Books</span>
        </a>
    </li>
    
    <li class="nav-item">
        <a class="nav-link" routerLink="/orders">
            <i class="fas fa-fw fa-table"></i>
            <span>orders</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Report
    </div>

    <!-- Nav Item - Events -->
    <li class="nav-item">
        <a class="nav-link" routerLink="/royalty-report">
            <i class="fas fa-fw fa-table"></i>
            <span>Royalty</span></a>
    </li>

    

</ul>