<ul class="navbar-nav bg-gradient-dark sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon rotate-n-15">
            <!-- <i class="fas fa-laugh-wink"></i> -->
            <!-- <img src="../../../assets/images/Ovaku-05.ico"> -->
        </div>
        <!-- <div class="sidebar-brand-text mx-3">POC</div> -->
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item">
        <a class="nav-link" [routerLinkActive]="'active'"  routerLink="/dashboard">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">
    
    <li class="nav-item">
        <a class="nav-link" [routerLinkActive]="'active'"  routerLink="/orders">
            <i class="fas fa-fw fa-table"></i>
            <span>Orders</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" [routerLinkActive]="'active'"  routerLink="/boms">
            <i class="fas fa-fw fa-table"></i>
            <span>Bill Of Materials</span>
        </a>
    </li>

    <div class="mt-auto"> <!-- Ensures logout is pushed to the bottom -->
        <li class="nav-item">
            <a class="nav-link" (click)="logout()">
                <i class="fas fa-fw fa-sign-out-alt"></i>
                <span>Logout</span>
            </a>
        </li>
    </div>

</ul>