/* Hide Scrollbar */
.container-fluid{
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.container-fluid::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}
.height{
    height: 33rem;
    padding-top: 4rem;
}

.chart-area, .chart-pie {
    width: 100%;
    height: 100%;
  }
  
  app-bar-chart, app-line-chart {
    width: 100% !important;
    height: 300px; 
  }

/* .chart-pie canvas {
    width: 100% !important;  
    height: auto !important; 
} */

.iron-color{
    color: '#FF6384';
}

.nickel-color{
    color: '#4BC0C0';
}

.chart-card{
    height: 45vw;
    /* max-height: 40vw; */
    overflow: hidden;
    /* min-height: fit-content; */

}