/* Hide Scrollbar */
.container-fluid{
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.container-fluid::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}
.height{
    height: 33rem;
    padding-top: 4rem;
}

.chart-area, .chart-pie {
    width: 100%;
    height: 100%;
  }
  
  app-bar-chart, app-line-chart {
    width: 100% !important;
    height: 300px; /* Set a fixed height */
  }